{% extends "index.html" %}

{% block header %}{% endblock header %}

{% block menu %}
<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="{{ url_for('home.rotaHome') }}" class="active">Home</a></li>

        <li><a href="{{ url_for('Agendamento.rotaAgendamento') }}">Listagem</a></li>
        <li><a href="{{ url_for('Agendamento.rotaCadastroAgendamento') }}">Novo Agendamento</a></li>
        <li><a href="{{ url_for('Agendamento.returnPdfAgendamento') }}">PDF</a></li>

        <li>
            <a class="nav-link disabled font-weight-bold text-silver" id="jacareDagua">
                <span class="font-weight-bold text-silver"></span>
            </a>
        </li>
    </ul>
</nav>
{% endblock menu %}

{% block divMain %}
<div id="main">
    <h1 style="margin-left: 40px !important;">Listagem de Agendamentos</h1>

    <div id="wrapper">
        <footer class="major" style="float: right;">
            <form name="pesquisaDoencas" id="pesquisaDoencas" method="post"
                action="{{ url_for('Agendamento.FiltroAgendamento')}}">
                <ul class="actions special">
                    <li><input style="float: right;" type="text" name="suspeitaAgendamento" autocomplete="off"
                            id="suspeitaAgendamento" maxlength="30" class="form-control" value=""
                            placeholder="Suspeita"></li>
                    <li><input style="float: right;" type="submit" value="Pesquisar" class=" float-right login_btn">
                    </li>
                </ul>
            </form>
        </footer>
    </div>

    <tbody>
        <section id="intro" class="main">
            {% if dados: %}
            {% for row in dados: %}
            <section id="cta" class="main special">

                <ul class="actions special" style="margin-bottom: 0px !important;">
                    <li>
                        <h3> <b>Id:</b> {{row[0]}}</h3>
                    </li>
                    <li>
                        <h3><b>Tipo:</b> {{row[1]}}</h3>
                    </li>
                    <li>
                        <h3><b>Data:</b> {{row[3]}}</h3>
                    </li>
                    <li>
                        <h3><b>Suspeita:</b> {{row[4][:18]}}</h3>
                    </li>

                    <li>
                        <form action="{{ url_for('Agendamento.editarAgendamento') }}" method="POST"
                            name="editUsuario{{ row[0] }}">
                            <input type="hidden" name="id_agendamento" value="{{ row[0] }}">
                            <button type="submit" name="formEditAgendamento"> asd</button>
                        </form>
                    </li>

                    <li>
                        <form action="{{ url_for('Agendamento.deletarAgendamento') }}" method="POST"
                            name="deleteUsuario" id="deleteUsuario">
                            <input type="hidden" name="id_agendamento" value="{{ row[0] }}">
                            <button type="submit" name="formDeleteAgendamento"> <i class="fas fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </section>

            {% endfor %}
            {% else %}
                <h1>Não foram encontrdos dados.</h1>
            {% endif %}
        </section>
</div>
{% endblock divMain %}