{% extends 'index.html' %}

{% block head %}

<head>
    <title>ERRO ROTA!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/icone.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
</head>
{% endblock head %}

{% block header %}{% endblock header %}

{% block menu %}{% endblock menu %}

{% block divMain %}
<br><br><br><br><br>
<div id="main">

    <br><br><br>
    <ul>
        <li>
            <h1>Pagina não encontrada, favor verificar a rota do endereço!</h1>
        </li>
    </ul>
    <br><br><br>
</div>
{% endblock divMain %}

{% block footer %}{% endblock footer %}

{% block herancaJs %}{% endblock herancaJs %}