#wrapper {
	width: 64em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}
h3,.pe,h2{
	color: white;
}

header.major {
	margin-bottom: 3em;
}

header.major h2 {
	font-size: 2em;
}

header.major h2:after {
	display: block;
	content: '';
	width: 3.25em;
	height: 2px;
	margin: 0.7em 0 1em 0;
	border-radius: 2px;
}

section.special header.major h2:after,
article.special header.major h2:after {
	margin-left: auto;
	margin-right: auto;
}

header.major p {
	font-size: 1.25em;
	letter-spacing: -0.025em;
}

  

header.major h2:after {
	background-color:black;
}

.spotlight .content header.major {
	margin: 0 0 2em 0;
}

.spotlight .content header.major h2:after {
	margin-left: auto;
	margin-right: auto;
}

 
 
#main header.major h2:after {
	background-color: #dddddd;
	background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

.features {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: calc(100% + 2em);
	margin: 0 0 3em -2em;
	padding: 4;
	list-style: none;
}

.features li {
	width: calc(33.33333% - 2em);
	margin-left: 2em;
	margin-top: 3em;
	padding: 0;
}

.features li:nth-child(1),
.features li:nth-child(2),
.features li:nth-child(3) {
	margin-top: 0;
}

.features li> :last-child {
	margin-bottom: 0;
}

 