{% extends 'index.html' %}

{% block header %}{% endblock header %}

{% block menu %}
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('home.rotaHome') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('Perfil.editarPerfil') }}">Perfil</a></li>
            <li><a href="{{ url_for('Endereco.editarEndereco') }}">Endereços</a></li>
            <li><a href="{{ url_for('Perfil.gerarPdfGeral') }}">PDF</a></li>
            
            <li>
                <a class="nav-link disabled font-weight-bold text-silver" id="jacareDagua">
                    <span class="font-weight-bold text-silver"></span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock menu %}

{% block divMain %}
<div id="main">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class="container" id="wrapper">
        <h2>Atualizar Dados do Perfil</h2>
        <div class="card-body">
            <form name="dadosEndereco" id="dadosEndereco" method="POST" enctype="multipart/form-data">
                
                <div class="input-group form-group">
                    
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        Cidade:
                    </div>
                    <input type="text" name="cidade" id="cidade" maxlength="50" class="form-control" 
                    value="{{ dados.cidade }}"
                        placeholder="Escreva a Cidade onde mora.">

                </div>
                <br>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        Estado :
                    </div>
                    <input type="text" name="Estado" maxlength="2" id="Estado" class="form-control"
                        value="{{ dados.estado }}"
                        placeholder="Ex: (SC)">
                </div>                
                <br>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                        Rua:
                    </div>
                    <input type="text" name="Rua" maxlength="50" id="Rua" class="form-control"
                        value="{{ dados.rua }}"
                        placeholder="Escreva a rua onde mora.">
                </div>
                <br>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                        Numero:
                    </div>
                    <input type="text" name="Numero" maxlength="10" id="Numero" class="form-control"
                        value="{{ dados.numero }}"
                        placeholder="Escreva o numero da sua casa">
                </div> 
                <br>
                <div class="form-group">
                    <input type="submit"  value="Confirmar" class=" float-right login_btn">
                    <a href="{{ url_for('Endereco.enderecoGerarPdf') }}"> <input type="button" value="PDF"></a>
                    <br>
                </div><br>
            </form>
        </div>
    </div>
</div>
{% endblock divMain %}


{% block herancaJs %}
    {{ super() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    $SCRIPT_ROOT = {{request.script_root | tojson | safe}}; // pega a url da barra de endereço

    $('#dadosEndereco').submit(function (e) {
        // parar o envio para poder fazer manualmente
        e.preventDefault();
        // captura o form 
        var form = $('#dadosEndereco')[0];
        // cria o FormData {Object}
        var data = new FormData(form);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "{{url_for('Endereco.salvandoDados')}}",
            data: data,
            processData: false, // impedir que o jQuery transforme a "data" em querystring
            contentType: false, // desabilitar o cabeçalho "Content-Type"
            cache: false, // desabilitar o "cache"
            timeout: 600000, // definir um tempo limite (opcional)
            // manipular o retorno da requisição
            success: function (data) {
                if (!data.erro) {
                    Swal.fire({
                        title: data.mensagem,
                        text: data.mensagem_exception,
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.replace($SCRIPT_ROOT +
                                "{{ url_for('home.rotaHome') }}");
                        }
                    });
                } else {
                    Swal.fire("", data.mensagem + '<br>' + data.mensagem_exception, "error");
                    console.log(data.mensagem_exception);
                }
            },
            // manipular erros da requisição
            error: function (e) {
                console.log(e);
            }
        }) // fim execução ajax
    }) // fim função evento submit
    // incluir aqui a opção para editar
</script>
{% endblock herancaJs %}