{% extends 'doencas.html' %}

{% block divMain %}
<div id="main">




    <style>
        .texto {
            color: black !important;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <tbody>

        <h1>&nbsp;&nbsp;&nbsp; Descrição Doenças</h1>
        <hr>
        <div id="wrapper">
            <section id="cta" class="main special">
                <footer class="major" style="float: right;">
                    <form name="pesquisaDoencas" id="pesquisaDoencas" method="post" action="{{ url_for('doenca.filtroBanco')}}">
                        <ul class="actions special">
                            <li><input style="float: right;" type="text" name="nomeDoenca" autocomplete="off"
                                    id="nomeDoenca" maxlength="30" class="form-control" value=""
                                    placeholder="Nome Doença"></li>
                            <li><input style="float: right;" type="submit" value="Pesquisar"
                                    class=" float-right login_btn"></li>
                        </ul>
                    </form>
                </footer>
            </section>
            {% if dados: %}
            {% for row in dados: %}


            <ul class="statistics">
                <li class="style6">

                    <h1 style="text-align: center !important; color: black !important;"> {{ row[1] }} </h1>

                    <ul class="features">
                        <li>
                            <h3 class="texto">Descrição.</h3>
                            <p class="texto">{{row[2]}}.</p>
                        </li>
                        <li>
                            <h3 class="texto">Sintomas.</h3>
                            <p class="texto">{{row[5]}}.</p>
                        </li>
                        <li>
                            <h3 class="texto">Tratamento.</h3>
                            <p class="texto">{{row[4]}}. </p>
                        </li>
                    </ul>

                    <ul class="actions special">
                        <form action="{{ url_for('doenca.atualizarDoenca') }}" method="POST" name="editUsuario">
                            <input type="hidden" name="id_doenca" value="{{ row[0] }}">
                            <button type="submit" name="formEditCliente"> <i class="fas fa-edit"></i></button>
                        </form>
                        &nbsp;&nbsp;
                        <form action="{{ url_for('doenca.deletarDoenca') }}" method="POST" name="deleteUsuario">
                            <input type="hidden" name="id_doenca" value="{{ row[0] }}">
                            <button type="submit" name="formDeleteCliente"> <i class="fas fa-trash"></i></button>
                        </form>
                    </ul>


                </li>
            </ul>
            {% endfor %}
        </div>
        <br>
        {% else %}
            <h1>Não foram encontrados dados!</h1>
        {% endif %}

</div>
{% endblock divMain %}