{% extends "base.html" %}
{{ super() }}
   

{% block head %}
{{super()}}

<head>
    <meta charset="utf-8">
    <title>Login - Descubra Sua Doença</title>
    <link rel="stylesheet" href="{{url_for('static', filename='loginCss/style.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">

</head>

{% endblock %}



{% block body %}

<body>
    <title>Login Page</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 350px;">
                <div class="card-header">
                    <h3>Sign Up</h3>
                </div>
                <div class="card-body">
                    <form name="cadastro" class="formulario" action="{{ url_for('login.CadastrarConta') }}" method="POST">

                        <div class="input-group form-group">
                            <input type="text" name="name" id="name" class="form-control" required
                                placeholder="UserName">
                            <div class="valid-feedback">Nome ok</div>
                            <div class="invalid-feedback">Nome já existente</div>
                        </div>

                        <div class="input-group form-group">
                            <input type="email" name="email" id="email" class="form-control" required
                                placeholder="Email">
                            <div class="valid-feedback">Email ok</div>
                            <div class="invalid-feedback">Email Já existente</div>
                        </div>

                        <div class="input-group form-group">
                            <input type="password" name="senha1" id="senha1" class="form-control" required
                                placeholder="Password">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Cadastrar" id="cadastrar"
                                name="cadastrar" class="btn float-right login_btn">
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>



</body>


{% block style %}


    <style>
        input:focus { 
            outline: none !important;
            background-color: rgb(158, 159, 228) !important;
            box-shadow: 0 0 10px #719ECE;
        }

    </style>

}
    
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename = 'bootstrap-5.1.0-dist/js/bootstrap.min.js') }}"> </script>
<script src=" {{ url_for( 'static' , filename ='jquery-3.6.0.min.js'  )         }} "></script>

<script type="text/javascript">
    
    $('input[name = "cadastrar"').attr('disabled', true)
    document.getElementById("email").onkeyup = function (e) {
        
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        if(e.target.value.length > 0)(
            $.post( $SCRIPT_ROOT + "{{ url_for('login.verificar') }}", {
                email: $('#email').val()
            },function(data){
                if(data.login_existe == true){
                    $('#email').addClass('is-invalid').removeClass('is-valid')
                    $('input[name = "cadastrar"').attr('disabled', true)
                }else if (data.login_existe == false){
                    $('#email').addClass('is-valid').removeClass('is-invalid')
                    $('input[name = "cadastrar"').attr('disabled', false)
                }
            })
        )
        else{
            $('#email').removeClass('is-invalid')
            $('#email').removeClass('is-valid')
            $('input[name = "cadastrar"').attr('disabled', true)
        }
    
    };
    
</script>
{% endblock js %}


{% endblock %}